/*Un seul css pour les articles merci*/
.article {
    position: absolute;
    display: flex;
    width: 75vw;
    margin-top: 17vh;
    margin-left: 15.5vw;
    padding: 3%;

}
.headerimg {
    height: 10vw;
}
.articleimg{
    right: 0%;
    margin-left: 3%;
}
.illustration {
    height: 25vw;
    border-radius: 20px;
}
.h1prix {
    display: flex;
}
h1 {
    font-size: 2vw;
}
.prix {
    margin-left: 3%;
    font-size: 2vw;
    font-weight:800;
    color:gold
}
.catch {
    margin-top: 2%;
    font-size: 1.4vw;
}
.description {
    margin-top: 2%;
}
p {
    margin-top: 2%;
}
.subimg {
    display: flex;
    margin-top: 1%;
}
.subimgimg {
    border-radius: 25px;
    height: 4vw;
    margin-left: 0.5vw;
}
.lasttext {
    margin-top: 3%;
    font-size: 2vw;
    align-items: center;
    text-align: center;
}

.tailleplace {
    display: flex;
    margin-top: 5%;
    margin-left: 20%;
}
.tailleicon {
    background-color: rgb(211, 211, 211);
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 1%;
    font-size: 0.75vw;
}
.buynow {
    background-color: rgb(211, 211, 211);
    width: 7vw;
    height: 1.5vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 3%;
    font-size: 0.75vw;
    color: black;
}
.selected {
    background-color: grey;
    border: 1px solid black;
}