/*Un seul css pour les articles merci*/
.article {
    display: flex;
}
.articleplace {
    position: absolute;
    width: 75vw;
    margin-top: 17vh;
    margin-left: 15.5vw;
    padding: 3%;
}
.headerimg {
    height: 10vw;
}
.articleimg{
    right: 0%;
    margin-left: 3%;
}
.illustration {
    height: 25vw;
    border-radius: 20px;
}
.h1prix {
    display: flex;
}
h1 {
    font-size: 2vw;
}
.prix {
    margin-left: 3%;
    font-size: 2vw;
    font-weight:800;
    color:gold
}
.catch {
    margin-top: 2%;
    font-size: 1.4vw;
}
.descriptiontel {
    margin-top: 2%;
    display: none;
}
.descriptionpc {
    margin-top: 2%;
}
p {
    margin-top: 2%;
}
.subimg {
    display: flex;
    margin-top: 1%;
}
.subimgimg {
    border-radius: 25px;
    height: 4vw;
    margin-left: 0.5vw;
}
.lasttexttel {
    margin-top: 3%;
    font-size: 2vw;
    align-items: center;
    text-align: center;
    display: none;
}
.lasttextpc {
    margin-top: 3%;
    font-size: 2vw;
    align-items: center;
    text-align: center;
}
.tailleplace {
    display: flex;
    margin-top: -6%;
    margin-left: 5%;
}
.tailleicon {
    background-color: rgb(211, 211, 211);
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 1%;
    font-size: 0.75vw;
}
.buynow {
    background-color: rgb(211, 211, 211);
    width: 7vw;
    height: 1.5vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 1%;
    font-size: 0.75vw;
    color: black;
}
.selected {
    background-color: grey;
    border: 1px solid black;
}
.tailleplacetel {
    display: none;
}
.buytel {
    display: none;
}

@media (max-width:600px){
    h1 {
        font-size: 12vw;
    }
    header{
        width: 110vw;
        height: 20vw;
        margin-left: -50%;
    }
    .headerimg {
        height: 20vw;
        width: 200vw;
    }
    .illustration {
        height: 60vw;
        margin-left: 7vw;
    }
    .subimg {
        margin-left: 12%;
    }
    .subimgimg {
        height: 15vw;
    }
    .articleplace {
        margin-left: 1%;
    }
    .h1prix{
        width: 50vw;
    }
    .catch {
        width: 55vw;
        font-size: 4vw;
    }
    .descriptiontel {
        width: 110vw;
        margin-top: 10%;
        display: block;
    }
    .lasttexttel {
        margin-top: 5vw;
        font-size: 6vw;
        width: 120vw;
        display: flex;
    }
    .tailleplacetel {
        display: flex;
        margin-top: -15vw;
    }
    .tailleicon {
        width: 8vw;
        height: 8vw;
        font-size: 4vw;
        margin-right: 2vw;
    }
    .buynow {
        margin-left: 0%;
        margin-top: 2%;
        height: 7vw;
        width: 49vw;
        font-size: 5vw;
    }
    .buytel {
        display: contents;
    }
    .tailleplace {
        display: none;
    }
    .prix {
        display: none;
    }
    .descriptionpc {
        display: none;
    }
    .lasttextpc {
        display: none;
    }
}