.main {
    position: absolute;
    padding-left: 17vw;
    padding-top: 12vw;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
header {
    height: 10vw;
}
.headerimg {
    height: 10vw;
}
h2 {
    margin-top: 1.5%;
}
footer {
    margin-left: -2vw;
    margin-top: 2%;
}

p {
    text-align: justify;
}

@media (max-width:600px){
    .headerimg {
        height: 20vw;
    }
    .main {
        margin-top: 20vw;
        margin-left: 0vw;
        padding-left: 4vw;
        padding-right: 3vw;
        width: 85vw;
        font-size: 3vw;
    }
    h2 {
        margin-top: 5%;
    }
    footer {
        margin-left: -5vw;
        left: 0%;
    }
}