@charset "utf-8";

/* Import de la font Italianno */
/* font-family: 'Italianno', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

/* Import de la font Maitree */
/* font-family: 'Maitree', serif; */
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Amiri';
    src: url('../font/Amiri-Italic.ttf') format('truetype');
}

body {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header{
    z-index: 5;
    position: absolute;
    margin-left: 15vw;
    width: 85vw;
    height: 40vh;
}
.headerimg {
    width: 85vw;
    height: 40vh;
}

.iconcart {
    position: fixed;
    top: 0%;
    right: 0%;
    margin-top: 1%;
    margin-right: 2%;
    width: 3vw;
}
.iconretourtop {
    position: fixed;
    bottom: 0%;
    right: 0%;
    margin-bottom: 1%;
    margin-right: 2%;
    width: 3vw;
}
@media (max-width:600px) {
    .header{
        position: absolute;
        width: 100vw;
        left: 0%;
        margin-left: -17vw;
    }
    .headerimg {
        width: 102vw;
        height: 20vw;
        left: 0%;
        margin-left: -17vw;
    }
    .iconcart, .iconretourtop{
        margin-right: 3vw;
        width: 12vw;
    }
    
}