@charset "utf-8";

/* Import de la font Italianno */
/* font-family: 'Italianno', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

/* Import de la font Maitree */
/* font-family: 'Maitree', serif; */
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Amiri';
    src: url('../font/Amiri-Italic.ttf') format('truetype');
}

/* reset CSS */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

header{
    z-index: 5;
    position: absolute;
    margin-left: 15vw;
    width: 85vw;
    height: 40vh;
}
.headerimg {
    width: 85vw;
    height: 40vh;
}

.iconcart {
    position: fixed;
    top: 0%;
    right: 0%;
    margin-top: 1%;
    margin-right: 2%;
    width: 3vw;
}
.iconretourtop {
    position: fixed;
    bottom: 0%;
    right: 0%;
    margin-bottom: 1%;
    margin-right: 2%;
    width: 3vw;
}

footer {
    width: 85vw;
    position: relative;
    background-color: rgb(218, 186, 164);
    padding-top: 1%;
}

.lg{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}

div.lg a, div.cp a {
    font-family: 'Maitree', serif;
    color: #303030;
}

div.lg a:hover {
    text-decoration: underline;
}

div.cp a {
    display: block;
    width: 33vw;
}

div.cp a:hover {
    text-decoration: underline;
} 
.cp{
    display: flex;
    justify-content: center;
    color: #303030;
    margin-bottom: 4vh;
}
div.logoo{
        display: flex;
        justify-content: center;
        margin-bottom: 0vh;
}


@media (max-width:600px) {
    .header{
        position: absolute;
        width: 100vw;
        left: 0%;
        margin-left: -17vw;
    }
    .headerimg {
        width: 102vw;
        height: 20vw;
        left: 0%;
        margin-left: -17vw;
    }
    .iconcart, .iconretourtop{
        margin-right: 3vw;
        width: 12vw;
    }

    footer {
        left: 0;
        margin-left: 0%;
        margin-top: 27vh;
        width: 100vw;
    }
    
}