.formplace {
    position: absolute;
    width: 83vw;
    margin-top: 40vh;
    margin-left: 13vw;
    padding: 3%;
}
.titre {
    font-size: 1.25vw;
}
form {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
}
.oblialert {
    font-style: italic;
}

textarea {
    height: 5vw;
    resize: none;
}
form button {
    margin-top: 2%;
    width: 30%;
}

form label {
    padding-bottom: 1%;
    padding-top: 1%;
}