@charset "utf-8";

/* Import de la font Italianno */
/* font-family: 'Italianno', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

/* Import de la font Maitree */
/* font-family: 'Maitree', serif; */
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Amiri';
    src: url('../font/Amiri-Italic.ttf') format('truetype');
}

.formplace {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    font-family: 'Maitree', serif;
    position: absolute;
    width: 79vw;
    margin-top: 40vh;
    margin-left: 15vw;
    padding: 3%;
    padding-bottom: 0%;
}

form {
    font-family: 'Maitree', serif;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
}
.oblialert {
    font-family: 'Maitree', serif;
    font-style: italic;
}

textarea {
    height: 5vw;
    resize: none;
}
form button {
    margin-top: 2%;
    width: fit-content;
    padding: 0% 1%;
}

form label {
    padding-bottom: 1%;
    padding-top: 1%;
}
.astred {
    color: red;
}
.required:after {
    content: " *";
    color: red;
}
h1 {
    font-family: 'Italianno', cursive;
    font-weight: 400;
    position:absolute;
}
footer {
    margin-left: -3vw;
    margin-top: 2%;
}
@media (max-width:600px) {
    .formplace {
        margin-top: 0vw;
        margin-left: 0vw;
        padding-top: 24vw;
        padding-left: 4vw;
        width: 93vw;
    }
    footer {
        left: 0%;
        margin-left: -4vw;
        margin-top: 5vh;
    }
}