@charset "utf-8";

/* Import de la font Italianno */
/* font-family: 'Italianno', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

/* Import de la font Maitree */
/* font-family: 'Maitree', serif; */
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Amiri';
    src: url('../font/Amiri-Italic.ttf') format('truetype');
}

main {
    margin-left: 15vw;
    margin-top: 20vw;
    position: absolute;
}

main h1 {
    font-family: 'Italianno', cursive;
    font-size: 4em;
    text-align: center;
    margin: 2vw;
}

main h2 {
    font-family: 'Maitree', serif;
    font-weight: bold;
    text-align: center;
    margin:2vw;
}

main p {
    font-family: 'Maitree', serif;
    text-align: justify;
    margin: 2vw;
}