h1{
    padding-bottom:2% ;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    font-size: 2vw;
    text-decoration: underline;
    margin-top: 2%;
}
p{
 font-size: 1.15vw;
}

.main{
    position: absolute;
    margin-top: 20vw;
    margin-left: 15.5%;
    padding: 2vw 3vw;
}
.last {
    margin-top: 5%;
    font-size: 1vw;
    text-align: center;
    color: rgb(66, 66, 66);
}