h1{
    padding-bottom:2% ;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1%;
    font-size: 2vw;
    text-decoration: underline;
    margin-top: 2%;
}
p{
 font-size: 1.15vw;
 text-align: justify;
}

.headerimg {
    height: 10vw;
}

.main{
    position: absolute;
    margin-top: 10vw;
    margin-left: 15VW;
    padding: 2vw 3vw;
    padding-bottom: 0%;
    width: 79vw;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
.last {
    margin-top: 5%;
    font-size: 1vw;
    text-align: center;
    color: rgb(66, 66, 66);
}
footer {
    margin-left: -3vw;
    margin-top: 2%;
}
@media (max-width:600px) {
    .main {
        margin-left: 0vw;
        width: 94vw;
        padding-bottom: 0vh;
    }
    h1 {
        font-size: 4vw;
    }
    h2 {
        font-size: 4vw;
    }
    p {
        font-size: 2.5vw;
    }
    footer {
        left: 0%;
        margin-left: -3vw;
    }
}