.main {
    position: absolute;
    padding-top: 22vw;
    padding-left: 17vw;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
.rectangle {
    margin-top: 2%;
    border: 3px solid black;
    background-color: rgb(245, 245, 245);
    padding: 2% 3%;
    width: 50vw;
    border-radius: 10px;
}
form {
    display: flex;
    flex-direction: column;
    font-family: 'Maitree', serif;
}
.formitem {
    margin-top: 0%;
    padding-bottom: 2%;
}
.titre {
    font-size: 1vw;
    font-weight: 500;
    font-family: 'Amiri';
}
.other {
    margin-top: 2%;
}
.required::after {
    content: " *";
    color: red;
}
.left {
    margin-left: 1%;
}
button {
    width: 4vw;
    padding: 0.5% 3%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
footer {
    margin-top: 2%;
    margin-left: -2vw;
}

@media (max-width:600px){
    header {
        height: 20vw;
    }
    .main {
        margin-left: 4vw;
        margin-top: 25vw;
    }
    .rectangle {
        width: 85vw;
    }
    button {
        width: 20vw;
    }
    footer {
        margin-top: 26vw;
        margin-left: -4vw;
    }
}