header{
    z-index: 5;
    position: absolute;
    margin-left: 15vw;
    width: 85vw;
    height: 40vh;
}
.headerimg {
    width: 85vw;
    height: 40vh;
}

.iconcart {
    position: fixed;
    top: 0%;
    right: 0%;
    margin-top: 1%;
    margin-right: 2%;
}