header{
    z-index: 5;
    position: absolute;
    margin-left: 15vw;
    width: 85vw;
    height: 40vh;
}
.headerimg {
    width: 85vw;
    height: 40vh;
}
.formplace {
    position: absolute;
    width: 83vw;
    margin-top: 40vh;
    margin-left: 13vw;
    padding: 3%;
}
.titre {
    font-size: 1.25vw;
}
form {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}
.oblialert {
    color: red;
}
.required::after{
    content: " *";
    color: red;
}
textarea {
    height: 5vw;
    resize: none;
}
button {
    margin-top: 1%;
    width: 5%;
}