.griditself {
    display: grid;
    margin-left: 8%;
    grid-template-columns: 20% 20% 20%;
    gap: 3%;
}
.gridarticle {
    background-color: #a5a5a5;
    height: fit-content;
    padding: 2%;
}
.gridprix {
    text-align: right;
}
.gridimage {
    width: 100%;
}
.gridtitle {
    font-size: 1.25vw;
    font-weight: 700;
}
.gridtagplace {
    display: flex;
}
.gridtag {
    margin-top: 1%;
    width: fit-content;
    padding: 0.5% 1%;
    background-color: white;
    height: fit-content;
    border-radius: 5px;
    margin-right: 2%;    
}