h1{
    padding-bottom:2% ;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    
}
h2{
    font-size: 35px;
    text-decoration: underline ;
}
p{
 font-size: 20px;
}

.main{
    position: absolute;
    margin-top: 20vw;
    margin-left: 15.5%;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

